.DS_Store
._gameinfo*
weeblyfun
funserver
*.o
lua-5.3.1/src/*.a
lua-5.3.1/src/*.o
.save/*
lua-5.3.1/src/lua
lua-5.3.1/src/luac
*.swp
.server.cout
.server.cerr
.server.lock
server/config.php
multistuff
libcurl.so
